@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #e76f51;
  --secondary: #2a9d8f;
  --light: #f8f9fa;
  --dark: #6c757d;
  --max-width: 1100px;
}

html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", serif;
  background-color: var(--light);
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: var(--dark);
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0.7rem;
  line-height: 1.3;
}

p {
  margin: 0.5rem 0;
}

/* utils */

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--dark);
  color: white;
  padding: 0.4rem 1.6rem;
}
.btn-light {
  background-color: var(--light);
}
.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}

.btn:hover {
  opacity: 0.8;
}
.btn-block {
  display: block;
  text-align: center;
}

.bg-primary {
  background-color: var(--primary);
  color: white;
}
.bg-secondary {
  background-color: var(--secondary);
  color: var(--light);
}
.bg-light {
  background-color: var(--light);
  color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--light);
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 0.7rem;
}
.p-3 {
  padding: 0.9rem;
}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 0.7rem;
}
.m-3 {
  margin: 0.9rem;
}
.text-color-light {
  color: var(--light);
}

.card {
  background-color: white;
  color: var(--dark);
}
.category {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.item {
  background-color: red;
  padding: 80px;
}
.navbar .container {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  padding: 5px;
}
.container ul {
  display: flex;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--light);
}
.navbar .logo {
  width: 65px;
}
.logo {
  padding: 5px 0;
  align-self: center;
}
#links {
  padding: 10px 0;
  align-self: center;
}
#links li {
  text-align: center;
  padding: 5px;
}
#links li:first-child {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
}
.navbar .social-icons {
  justify-self: end;
  align-self: center;
}
.header {
  background: #333;
  position: relative;
  padding: 2rem;
}
.header::before {
  content: "";
  background: url("../img/rowing.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.header-container {
  height: 50vh;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.header-container h1 {
  font-size: 32px;
}
.header-container h1,
p {
  color: var(--light);
}
#content .container h1 {
  padding: 20px 0;
}
#content .article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#content .card p {
  color: black;
}

#footer {
  background-color: var(--dark);
  margin-top: 20px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". . . ."
    "footer footer footer footer";
  padding: 10px 0;
  gap: 20px;
}
#footer .footer {
  grid-area: footer;
  background-color: #333;
  text-align: center;
  color: var(--light);
  margin: 10px 0;
  padding: 1rem;
}
#footer h1 {
  color: var(--light);
}
#footer .logo img {
  width: 150px;
}

#footer input {
  padding: 0.5rem;
  margin: 5px 0;
  width: 90%;
}
#footer button {
  width: 90%;
}
#footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 13px;
}
#footer a {
  color: var(--light);
}
#footer li a:hover {
  color: var(--primary);
}
#footer li {
  border-bottom: 1px solid #5e5d5d;
}
.article p {
  color: #333;
}

/* article.html */

#article .article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "article article aside";
  gap: 20px;
}

#article .article {
  grid-area: article;
}
#article .join-us {
  background-color: var(--secondary);
  padding: 10px;
}
#article .join-us h1 {
  color: var(--light);
  padding: 0 1.1rem;
  font-size: 25px;
}

#article .join-us p {
  padding: 0 1.5rem;
}
#article .join-us button {
  width: 100%;
  font-size: 16px;
}

#article .categories ul {
  display: flex;
  flex-direction: column;
}
#article .categories ul li {
  margin: 10px;
}
#article .categories ul li a i {
  margin: 3px;
}

/* #aritcle .categories ul li a:hover {
  color: var(--primary);
} */
#article .categories ul li a:hover {
  color: var(--primary);
}
#article .article div {
  display: flex;
  justify-content: space-between;
}
