@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.icons i {
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

#header {
  position: relative;
}
#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#header-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

#navbar {
  background-color: rgba(52, 58, 64, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  max-width: 100vw;
}
#navbar h1 {
  color: var(--white);
}
#navbar h1 span {
  color: var(--warning);
}

#navbar ul {
  display: flex;
  align-items: center;
}
#navbar nav {
  margin: 12px;
}
#navbar ul li {
  padding: 8px 24px;
}
#navbar ul li a {
  color: var(--white);
}
#navbar ul li:hover {
  border-bottom: 3px solid goldenrod;
}
#navbar__left {
  padding: 19px;
}
#navbar__left span {
  padding: 0 8px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar h1 {
  font-size: 32px; /* Font büyüklüğünü ayarla */
  margin: 0;
  display: flex;
  align-items: center;
}

#navbar h1 i {
  font-size: 32px; /* İkon boyutunu küçült */
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Menü öğeleri arasındaki boşluk */
}

#navbar ul li {
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
}

#navbar ul li a:hover {
  border-radius: 5px;
}

@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }
  #navbar h1 {
    font-size: 20px;
  }
  .details {
    padding: 0 30px;
  }
  #navbar nav {
    margin: 10px;
  }
}

.rooms {
  margin-top: 150px;
  display: flex;
}

.kapsayici {
  min-height: 505px;
}

#page-container {
  max-width: 936px;
  margin: 120px auto 40px;
}

.carousel-inner {
  max-height: 450px;

  overflow: hidden;
}

.carousel-item img {
  max-height: 450px;
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rezervasyonBtn {
  position: sticky;
  top: 23%;
  left: 85%;
}
